<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machstatz-Assignment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Machstatz-Assignment</h1>
        <hr>
        <h2>Question 1</h2>
        <a href="https://machstatz-assignment-ritul.herokuapp.com/question1">https://machstatz-assignment-ritul.herokuapp.com/question1</a>
        <h5 class="mt-2">Note</h5>
        <p>"Please send start_time and end_time as query string in the format: %Y-%m-%dT%H:%M:%SZ"</p>
        <h2>Question 2</h2>
        <a href="https://machstatz-assignment-ritul.herokuapp.com/question2">https://machstatz-assignment-ritul.herokuapp.com/question2</a>
        <h5 class="mt-2">Note</h5>
        <p>"Please send start_time and end_time as query string in the format: %Y-%m-%dT%H:%M:%SZ"</p>
        <h2>Question 3</h2>
        <a href="https://machstatz-assignment-ritul.herokuapp.com/question3">https://machstatz-assignment-ritul.herokuapp.com/question3</a>
        <h5 class="mt-2">Note</h5>
        <p>"Please send start_time and end_time as query string in the format: %Y-%m-%dT%H:%M:%SZ"</p>
    </div>
</body>

</html>